crosshair
{
	position: absolute;
	transform: translateX( -50% ) translateY( -0% );
	mix-blend-mode: lighten;
	width: 1px;
	height: 1px;

	.element
	{
		position: absolute;
	}

	.el0
	{
		background-color: #ff0;
		border-radius: 1000px;
		width: 6px;
		height: 6px;
	}

	&.dod_garand
	{
		opacity: 0.3;
		transition: opacity 0.5s linear;

		.el0
		{
			background-color: transparent;
			border-radius: 1000px;
			left: -100px;
			top: -100px;
			width: 200px;
			height: 200px;
			border: 6px solid #ff00;
			border-left: 6px solid #ff0;
			border-right: 6px solid #ff0;
			transition: all 0.5s ease-out;
		}

		.el1
		{
			transition: all 0.5s ease-out;
			background-color: #ff05;
			border-radius: 1000px;
			width: 10px;
			height: 10px;
			left: -5px;
			top: -5px;
		}

		&.fire
		{
			opacity: 0.9;
			transition: opacity 0.01s ease-out;

			.el0
			{
				transition: all 0.01s ease-out;
				left: -150px;
				width: 300px;
				border: 6px solid #0000;
				border-left: 6px solid #fa0;
				border-right: 6px solid #fa0;
				opacity: 1.0;
			}

			.el1
			{
				transition: all 0.01s ease-out;
				background-color: #ff0;
				width: 16px;
				height: 16px;
				left: -8px;
				top: -8px;
			}
		}

		&.aiming 
		{
			opacity: 0;
			transition: opacity 0.01s ease-out;

			.el0
			{
				transition: all 0.01s ease-out;
				left: -150px;
				width: 300px;
				border: 6px solid #0000;
				border-left: 6px solid #fa0;
				border-right: 6px solid #fa0;
				opacity: 0;
			}

			.el1
			{
				transition: all 0.01s ease-out;
				background-color: #ff0;
				width: 16px;
				height: 16px;
				left: -8px;
				top: -8px;
			}
		}
	}
}
