inventorybar
{
	position: absolute;
	left: 100px;
	top: 500px;
	font-family: Roboto;
	opacity: 0;
	transition: all 0.1s ease-out;
	flex-direction: column;

	&.active
	{
		transition: all 0.2s ease-out;
		opacity: 1;
	}
}

inventorycolumn
{
	margin-right: 5px;
	mix-blend-mode: lighten;
	color: rgb(255, 255, 255);
	flex-direction: row;
	align-items: flex-end; // align to the left, don't stretch
	border-top-right-radius: 15px;

	.slot-number
	{
		background-color: rgba(0, 0, 0, 0.133);
		padding: 22px 15px 0px 10px;
		font-size: 20px;
		font-weight: bolder;
		width: 40px;
		height: 40px;
	}

	inventoryicon
	{
		opacity: 1;
		padding: 25px 15px 10px 2px;
		width: 40px;
		height: 40px;
		overflow: hidden;
		transition: all 0.1s ease-out;

		.icon
		{
			opacity: 1;
		}
	}

	opacity: 1;

	&.active
	{
		opacity: 1;

		inventoryicon
		{
			transition: all 0.1s ease-out;
			opacity: 1;
			display: flex;
			width: 200px;
			height: 90px;

			.icon
			{
				opacity: 1;
			}

			&.active
			{
				opacity: 1;
			}
		}
	}
}

inventoryicon
{
	margin-top: 5px;
	mix-blend-mode: lighten;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.267);
	font-size: 40px;
	font-weight: lighter;
	padding: 10px;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.icon
	{
		width: 150px;
		height: 150px;
		background-size: 100%;
		background-image-tint: rgb(255, 255, 255);
		position: absolute;
	}

	&.active
	{
		opacity: 1;

		.icon
		{
			// filter: drop-shadow additive glow
			opacity: 1;
		}
	}

	&.empty
	{
		opacity: 0.8;
		background-color: rgba(0, 0, 0, 0.267);
		color: #f002;

		.icon
		{
			background-color: rgb(0, 0, 0);
		}
	}
}

