inventorybar
{
	position: absolute;
	left: 50px;
	top: 400px;
	font-family: Roboto;
	opacity: 0;
	transition: all 0.4s ease-out;
	flex-direction: column;

	&.active
	{
		transition: all 0.4s ease-out;
		opacity: 1;
	}
}

inventorycolumn
{
	margin-right: 5px;
	mix-blend-mode: lighten;
	color: rgb(255, 255, 255);
	flex-direction: row;
	align-items: center; // align to the left, don't stretch

	.slot-number
	{
		// background-color: rgb(1, 80, 18);
		padding: 10px 15px 0px 10px;
		font-size: 20px;
		font-weight: bolder;
		width: 40px;
		height: 40px;
	}

	inventoryicon
	{
		opacity: 1;
		padding: 25px 15px 20px 2px;
		width: 200px;
		height: 90px;
		overflow: hidden;
		transition: all 0.25s ease-out;

		.icon
		{
			opacity: 1;
		}
	}

	opacity: 1;

	&.active
	{
		opacity: 1;

		inventoryicon
		{
			transition: all 0.25s ease-out;
			opacity: 1;
			display: contents;
			width: 225px;
			height: 90px;

			.icon
			{
				opacity: 1;
			}

			&.active
			{
				opacity: 1;
			}
		}
	}
}

inventoryicon
{
	margin-top: 5px;
	mix-blend-mode: lighten;
	color: rgb(255, 255, 255);
	background-color: rgb(36, 80, 35);
	border: 2px;
	border-color: white;
	border-top-right-radius: 15px;
	font-size: 40px;
	font-weight: lighter;
	padding: 10px;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.icon
	{
		width: 350px;
		height: 150px;
		background-size: 75%;
		top: 0px;
		left: 1px;
		background-image-tint: rgb(255, 255, 255);
		position: absolute;
	}

	&.active
	{
		opacity: 1;
		border: 4px;

		.icon
		{
			// filter: drop-shadow additive glow
			opacity: 1;
		}
	}

	&.empty
	{
		opacity: 0.5;
		background-color: rgba(0, 0, 0, 0.267);
		color: #f002;

		.icon
		{
			background-color: rgb(255, 255, 255);
		}
	}
}

